
<div class="container">
    <header>
     <div class="container_principal_text">
         <h1>¿Quién soy? </h1>
         <img src="../../../assets/images/home_oveview.png" alt="home_oveview">
     </div>
     <div class="container_role_text">

         <p class="overview">¡Hola! Soy un <span>desarrollador full stack</span> con más de un año de experiencia 
            en la industria. Actualmente, 
            estoy trabajando con una <span>startup mexicana.</span> Cada día es un <span>nuevo reto</span> para mí, ya que estoy constantemente aprendiendo 
            <span>nuevas tecnologías</span> que nos ayudan a mejorar nuestras aplicaciones y proporcionar una <span>experiencia 
                cómoda</span> para nuestros <span>usuarios finales.</span>

            Aunque hemos estado en proyectos de todo tipo, actualmento estamos en el <span>rubro de la salud</span>, 
            colaboramos con un cliente del área médica, lo que agrega un nivel adicional de <span>responsabilidad</span>
             a nuestro trabajo. Es gratificante saber que el trabajo que realizamos puede <span>contribuir a salvar vidas</span>
              y mejorar la <span>atención médica.</span>
            
           </p>
     </div>
    </header>
 </div>
 
